[submodule "deps/luajit"]
	path = deps/luajit
	url = ../LuaJIT
	ignore = untracked
	branch = v2.1
[submodule "deps/dpdk"]
	path = deps/dpdk
	url = ../dpdk
	ignore = untracked
	branch = v17.08
[submodule "deps/pciids"]
	path = deps/pciids
	url = ../pciids
	ignore = untracked
	branch = master
[submodule "lua/lib/syscall"]
	path = lua/lib/syscall
	url = ../ljsyscall
	branch = master
[submodule "lua/lib/pf"]
	path = lua/lib/pf
	url = ../pflua
[submodule "lua/lib/turbo"]
	path = lua/lib/turbo
	url = ../turbo
[submodule "deps/highwayhash"]
	path = deps/highwayhash
	url = ../highwayhash
[submodule "deps/tbb"]
	path = deps/tbb
	url = ../tbb
